# Node.js modules
node_modules/

# Environment variable files
.env

# Package lock file
package-lock.json

# Ignore Prisma migration artifacts
prisma/migrations/*/migration.sql
prisma/migrations/*/migration_lock.toml